.inline-when {
	&:not(:empty) {
		margin-right: var(--space-1);
	}
	[aria-expanded="true"] & {
		display: none;
	}
	.today &,
	.upcoming & {
		display: none;
	}
}

.inline-when__label {
	--color: color-mix(in oklab, var(--page-dark), var(--primary-dark) 5%);
	display: inline-block;
	white-space: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: color-mix(in oklab, var(--color), transparent 60%);
	padding: var(--space-05) var(--space-2);
	margin-bottom: 2px;
	border-radius: 7px;
	font-weight: 500;
	font-size: var(--font-size-7);
	[aria-expanded="true"] & {
		display: none;
	}
	.today &,
	.upcoming & {
		display: none;
	}
}
