:root {
	--sidebar-footer-fill: var(--sidebar-fill-dark);
	--sidebar-footer-border-line: color-mix(
		in oklab,
		var(--sidebar-footer-fill),
		var(--sidebar-line) 4%
	);
	--sidebar-footer-fill-dark: color-mix(
		in oklab,
		var(--sidebar-footer-fill),
		var(--sidebar-line) 10%
	);
}

.sidebar-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-2);
	padding: var(--space-3);
	background: var(--sidebar-fill-dark);
	color: var(--sidebar-section-line);
	border-top: 1px solid var(--sidebar-footer-border-line);
	margin-top: auto;
	&.sidebar-footer--hidden {
		display: none;
	}
}

.sidebar-footer__button {
	border: 1px solid transparent;
	padding-inline: var(--space-2);
	padding-block: var(--space-1);
	border-radius: 3px;
	white-space: nowrap;
	&:hover {
		border: 1px solid var(--sidebar-footer-fill-dark);
	}
	&:active {
		background: var(--sidebar-footer-fill-dark);
	}
}

.sidebar-footer-new-list-choice {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
	padding: var(--space-2);
}
.sidebar-footer-new-list-choice__icon {
	height: 1em;
	width: 1em;
}

.sidebar-footer-new-list-choice__title {
	font-weight: 600;
	display: flex;
	gap: var(--space-2);
}

.sidebar-footer-new-list-choice__description {
	font-size: var(--font-size-7);
	margin-left: calc(1em + var(--space-2));
}

.sidebar-footer {
	container-type: inline-size;
}

@container (width < 13.7ch) {
	.sidebar-footer__optional-text {
		display: none !important;
	}
}
