@import url("./base/base.css");
@import url("./components/components.css");

.list-empty {
	user-select: none;
	color: var(--page-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50%;
	max-width: 16ch;
	margin: auto;
	text-align: center;
	filter: saturate(0);
}
