:root {
	--checkbox-fill: var(--page-fill);
	--checkbox-line: color-mix(in oklab, var(--page-line), transparent 70%);
	--checkbox-fill--closed: var(--primary-dark);
	--checkbox-line--closed: var(--white);
	--checkbox-size: 18px;
	--checkbox-radius: 6px;
}

@media (max-width: 600px) {
	:root {
		--checkbox-size: 22px;
		--checkbox-radius: 7px;
	}
}

.checkbox {
	border-radius: var(--checkbox-radius);
	border: 1px solid var(--checkbox-line);
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--checkbox-size);
	height: var(--checkbox-size);

	svg {
		width: 95%;
		height: 95%;
		display: none;
		fill: var(--checkbox-fill);
	}

	transition: background-color 0.14s linear, border-color 0.1s linear,
		scale 0.1s ease, fill 0.14s linear, stroke 0.14s linear;
}

.checkbox--someday {
	border-style: dashed;
}

.checkbox--mousing {
	scale: 1.1;
}

.checkbox--closed {
	transition: none;
	border-color: transparent;
	background-color: var(--checkbox-fill--closed);
	fill: var(--checkbox-fill--closed);
	stroke: var(--checkbox-fill--closed);
	color: var(--checkbox-line--closed);
	svg {
		--checkbox-fill--closed: var(--primary-dark);
		display: block;
		fill: var(--checkbox-fill--closed);
	}
}
