.grouped-project {
	display: flex;
	flex-direction: column;

	background-color: var(--color-background);
	box-shadow: var(--shadow);
	margin-top: var(--space-10);

	padding: var(--space-2);
	border-radius: 9px;
	margin-bottom: var(--space-10);
	box-shadow: 0 0 2px 1px var(--primary-dark);
}

.grouped-project__progress {
	color: var(--page-dark);
	user-select: none;
	font-size: 0.625rem;
}

.grouped-project__header {
	display: flex;
	align-items: center;
	gap: var(--space-2);
	border-bottom: 1px solid var(--page-dirk-gently);
	padding-bottom: var(--space-2);
	margin-bottom: var(--space-2);
	padding-inline: var(--action-inline-padding);
	padding-top: var(--space-1);
}

.grouped-project__title {
	display: flex;
	gap: var(--space-1);
	align-items: center;
	text-decoration: none;
	font-weight: 700;
	color: var(--text);

	&:hover {
		color: var(--primary-dark);
		&::after {
			content: "›";
			margin-left: var(--space-1);
			color: var(--primary-dark);
		}
	}
}
