.upcoming-day {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: var(--space-8);
	padding-bottom: var(--space-8);
	&:first-of-type {
		padding-top: var(--space-3);
	}
}

.upcoming-day__title {
	font-size: var(--font-size-6);
	font-weight: 500;
	color: color-mix(in oklab, var(--primary-dark), var(--text) 50%);
	margin-left: var(--action-inline-padding);
	position: relative;
	user-select: none;
	&[data-droptarget] {
		outline: 2px solid var(--drop-target-indicator-fill);
	}
}

.upcoming-day__date {
	font-size: var(--font-size-3);
	font-weight: 500;
	color: var(--text);

	z-index: 1;
	display: inline-block;
	text-align: left;
	padding-right: 0.5rem;
	color: color-mix(in oklab, var(--primary-dark), var(--text) 60%);
}

:root {
	--upcoming-divider-line: color-mix(
		in oklab,
		var(--page-divider-line),
		var(--page-fill) 60%
	);
}

.upcoming-day__name {
	padding-right: 0.75rem;
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: calc(100cqw - 2rem);

		background: var(--upcoming-divider-line);
		top: -2px;
		left: 0;
		z-index: 0;
	}
}
