:root {
	--action-fill: var(--page-fill);
	--action-line: var(--page-line);
	--action-fill--selected: var(--selected-fill);
	--action-border-line: color-mix(
		in oklab,
		var(--action-fill),
		var(--action-line) 5%
	);

	--action-trans-duration: 0.24s;
}

.action {
	display: flex;
	flex-direction: column;
	padding-block: var(--space-2);
	padding-inline: var(--space-2);
	min-height: 1em;
	border-radius: 8px;
	transition-property: min-height, max-height, height, margin, border-radius,
		padding, transform, opacity;

	transition-duration: var(--action-trans-duration);

	color: var(--action-line);
}

.action[aria-current="true"]:not([aria-expanded="true"]) {
	background: var(--action-fill--selected);

	&:has(+ .action[aria-current="true"]) {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	+ .action[aria-current="true"] {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.action[aria-expanded="true"] {
	min-height: 8em;
	background: var(--page-fill);
	border: 1px solid var(--primary-dark);
	border-radius: 3px;
	box-shadow: 0 1px 2px
		color-mix(in oklab, var(--primary-dark), transparent 60%);
	padding: 1rem;
	margin-bottom: 2em;
	margin-top: 1rem;
}

.action:not([aria-expanded="true"]) {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.action__editor {
	/* transition: max-height 2.24s ease-in-out; */
	overflow: hidden;
	padding-inline: var(--action-inline-padding);
	transition-property: padding, transform;
	transition-duration: var(--action-trans-duration);
	[aria-expanded="true"] & {
		padding-inline: 0;
	}
}

.action:not([aria-expanded="true"]) .action__editor {
	max-height: 0;
	overflow: auto;
	height: auto;
}

.action__header {
	display: flex;
	gap: 1ex;
	align-items: center;
	padding-inline: var(--action-inline-padding);
	transition-property: padding, transform;
	transition-duration: var(--action-trans-duration);
	[aria-expanded="true"] & {
		padding-inline: 0;
	}
}

.action .item-title:empty:before {
	content: "New action...";
	color: var(--color-line-empty);
}

.action__title {
	display: flex;
	font-weight: 400;
	display: inline-block;
	margin: 0;
	font-size: 1rem;
	.action--today &::before {
		content: "✨";
		margin-right: var(--space-1);
	}
	.action--expanded & {
		width: 100%;
		&::before {
			display: none;
		}
	}
	.today &::before {
		display: none;
	}
}

.action__input {
	font-weight: 500;
	display: inline-block;
	width: 100%;
	margin: 0;
	font-size: 1rem;
}

.action__input:focus {
	outline: 0;
}

.action-indicators {
	display: flex;
	color: var(--color-line-unobtrusive);
	font-size: 0.8em;

	gap: 0.5em;
}

.action__footer {
	display: flex;
}

.action.action.action--dragged {
	opacity: 0.5;
	/* display: none; */
}

.action:not([aria-expanded="true"]) {
	&.action--closed {
		--action-line: color-mix(in oklab, var(--page-fill), var(--page-line));
	}
	&.action--canceled {
		text-decoration: line-through;
	}
}

:root {
	--action-fill--mousing: color-mix(
		in oklab,
		var(--action-fill),
		var(--page-line) 4%
	);
}

.action:has(.checkbox--mousing) {
	background: var(--action-fill--mousing);
}

.page:has(.action[aria-expanded="true"]) .action[aria-expanded="false"] {
	opacity: 0.5;
}

.action[data-droptarget] {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		display: block;
		left: 0;
		right: 0;
		background: var(--drop-target-indicator-fill);
		height: var(--drop-target-indicator-height);
		width: var(--drop-target-indicator-width);
	}
	&[data-droptarget="above"] {
		&::before {
			top: -2px;
		}
	}
	&[data-droptarget="below"] {
		&::before {
			bottom: 0;
		}
	}
}

.action .state-changed {
	display: none;
}
