.chrome {
	display: flex;
	height: 100%;
	width: 100%;
	transition: background 0.4s;
	&:has(.action--expanded) {
		background: color-mix(in oklab, var(--page-fill), var(--sidebar-fill) 10%);
	}
}

:root {
	--sidebar-fill: var(--sunglow);
}

.chrome__sidebar {
	display: flex;
	flex-direction: column;
	background: var(--sidebar-fill);
	color: var(--sidebar-line);
	min-width: 0;
	transition: flex-basis 0.14s ease-out;
	&[data-collapsed] {
		overflow: hidden;
		/* display: none; */
	}
}

.chrome--first-load .chrome__sidebar,
.chrome__sidebar--manually-resizing {
	transition: none;
}

:root {
	--sidebar-handle-fill: var(--sidebar-fill-dark);
	--sidebar-fill-dark: color-mix(
		in oklab,
		var(--sidebar-fill),
		var(--page-fill) 10%
	);
	--sidebar-fill-light: color-mix(
		in oklab,
		var(--sidebar-fill),
		var(--page-fill) 90%
	);
	--sidebar-line: var(--text);
}

.chrome__handle {
	border-left: 1px solid var(--sidebar-handle-fill);
	background: transparent;
}

.chrome__main,
.chrome__content {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.chrome--mobile.chrome--showing-sidebar {
	.chrome__sidebar {
		&,
		.sidebar {
			width: 100%;
		}
		flex-basis: unset !important;
	}
	.chrome__handle {
		display: none;
	}
	.chrome__main {
		display: none;
	}
}

.chrome--not-showing-sidebar .chrome__main {
	flex-basis: 100% !important;
}

.chrome__sidebar-control {
	margin: var(--space-2);
}

.chrome__sidebar-control--expand {
	margin-left: 0;
}
