:root {
	--text-editor-text-color: var(--text);
	--text-editor-placeholder-color: var(--page-dark);
}

.text-editor--readonly {
	font-family: var(--family-sans);

	cursor: default !important;
	user-select: none !important;
	&,
	* {
		cursor: default !important;
		user-select: none !important;
	}
	.cm-cursorLayer {
		display: none !important;
	}
	.cm-selectionLayer {
		background: transparent;
		display: none;
		user-select: none;
	}
}

.text-editor {
	.cm-line {
		font-family: var(--family-sans);
	}
	.cm-bullet {
		font-size: 3rem;
		line-height: 1rem;
		vertical-align: middle;
		overflow: hidden;
		display: inline-block;
		height: 1rem;
		width: 1rem;
	}
}
