:root {
	--checkbox-fill: var(--primary-dark);
	--checkbox-line: var(--white);
}

.checkbox {
	display: inline-flex;
	align-items: center;
}

.checkbox__control {
	height: 20px;
	width: 20px;
	border-radius: 6px;
	border: 1px solid hsl(240 5% 84%);
	background-color: hsl(240 6% 90%);
}

.checkbox__input:focus-visible + .checkbox__control {
	outline: 2px solid var(--checkbox-fill);
	outline-offset: 2px;
}

.checkbox__control[data-checked] {
	border-color: var(--checkbox-fill);
	background-color: var(--checkbox-fill);
	color: var(--checkbox-line);
}

.checkbox__label {
	margin-left: 6px;
	color: hsl(240 6% 10%);
	font-size: 14px;
	user-select: none;
}
