:root {
	--page-title-line: var(--text);
}

.page-title {
	display: flex;
	gap: var(--space-2);
	align-items: center;
	justify-content: flex-start;
	padding-block: var(--space-2);
	font-weight: 500;
	font-size: var(--font-size-2);
	color: var(--page-title-line);
	word-break: keep-all;
}

@container (width < 700px) {
	.page-title {
		font-size: var(--font-size-3);
	}
}

@container (width < 500px) {
	.page-title {
		font-size: var(--font-size-4);
	}
}

@container (width < 400px) {
	.page-title .text-editor {
		font-size: var(--font-size-5);
		&:has(+ *) {
			font-size: var(--font-size-6);
		}
	}
}

.page-title__icon {
	user-select: none;
	margin-right: var(--space-2);
	svg {
		width: 1em;
		height: 1em;
	}
}

.page-title__title {
	font-weight: inherit;
	caret-color: var(--caret-color);
	word-break: keep-all;
}

.page-container--built-in {
	.page-title {
		user-select: none;
	}
}
