html {
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) env(safe-area-inset-right)
		env(safe-area-inset-bottom) env(safe-area-inset-left);
}

html,
body {
	height: 100vh;
	width: 100vw;
	font-size: 16px;
}

body {
	font-family: var(--family-sans);
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#app {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
